<div style="border:solid green 2px; padding: 20px">
    
<b>–í–∞–¥–∏–º, –ø—Ä–∏–≤–µ—Ç! –≠—Ç–æ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä –ú–∞—Ç–≤–µ–µ–≤—Å–∫–∏–π</b> –Ø —Ä–∞–¥ —Ç–µ–±—è –≤–∏–¥–µ—Ç—å –Ω–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º —Å–ø—Ä–∏–Ω—Ç–µ (SQL).

---

–Ø –±—É–¥—É –∫—Ä–∞—Å–∏—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Ü–≤–µ—Ç–æ–º, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏—Ö:

<div class="alert alert-block alert-danger">‚úç
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ, –æ–Ω –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–ª–∏—è–µ—Ç –Ω–∞ —É–¥–∞—á–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞.
</div>
    
---

<div class="alert alert-block alert-warning">üìù
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__


–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —è–≤–ª—è–µ—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–µ–π –∏–ª–∏ —Å–æ–≤–µ—Ç–æ–º. –ú–æ–∂–µ—à—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏—Ö –Ω–∞ —Å–≤–æ—ë —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ.
</div>

---

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π  –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ —á—Ç–æ-—Ç–æ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω–æ–µ –∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ =)
</div>
    
---
    
–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —É —Ç–µ–±—è –≤–æ–∑–Ω–∏–∫–∞—é—Ç –≤–æ–ø—Ä–æ—Å—ã ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º –≤ –ø–∞—á–∫–µ, –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è. –¢–∞–∫ –∂–µ, –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:   
    
<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
    
    
---

# –í—ã–ø—É—Å–∫–Ω–æ–π –ø—Ä–æ–µ–∫—Ç. SQL

# –û–ø–∏—Å–∞–Ω–∏–µ

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

# –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ books**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

*book_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

*author_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;

*title* ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;

*num_pages* ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;

*publication_date* ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;

*publisher_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ authors**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

*author_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;

*author* ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ publishers**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

*publisher_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

*publisher* ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ ratings**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

*rating_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;

*book_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

*username* ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;

*rating* ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ reviews**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

*review_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;

*book_id* ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;

*username* ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;

*text* ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

![Table.png](attachment:Table.png)

# –ó–∞–¥–∞–Ω–∏—è

#### –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

#### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

#### –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –º—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

#### –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

#### –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞
</div>

# –ó–∞–≥—Ä—É–∑–∫–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫ –∏ –¥–∞–Ω–Ω—ã—Ö

In [ ]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã

db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

# –ò—Å—Å–ª–µ–¥—É–µ–º —Ç–∞–±–ª–∏—Ü—ã

**–¥–∞—Ç–∞—Ñ—Ä–µ–π–º** *books*

In [ ]:
query = '''
SELECT *
FROM books
LIMIT 5
'''
display(pd.io.sql.read_sql(query, con = engine))
pd.io.sql.read_sql(query, con = engine).info()
pd.io.sql.read_sql(query, con = engine).duplicated().sum()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           5 non-null      int64
 1   author_id         5 non-null      int64
 2   title             5 non-null      object
 3   num_pages         5 non-null      int64
 4   publication_date  5 non-null      object
 5   publisher_id      5 non-null      int64
dtypes: int64(4), object(2)
memory usage: 368.0+ bytes

0

**–¥–∞—Ç–∞—Ñ—Ä–µ–π–º** *authors*

In [ ]:
query = '''
SELECT *
FROM authors
LIMIT 5
'''
display(pd.io.sql.read_sql(query, con = engine))
pd.io.sql.read_sql(query, con = engine).info()
pd.io.sql.read_sql(query, con = engine).duplicated().sum()

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  5 non-null      int64
 1   author     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

0

**–¥–∞—Ç–∞—Ñ—Ä–µ–π–º** *reviews*

In [ ]:
query = '''
SELECT *
FROM reviews
LIMIT 5
'''
display(pd.io.sql.read_sql(query, con = engine))
pd.io.sql.read_sql(query, con = engine).info()
pd.io.sql.read_sql(query, con = engine).duplicated().sum()

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  5 non-null      int64
 1   book_id    5 non-null      int64
 2   username   5 non-null      object
 3   text       5 non-null      object
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

0

**–¥–∞—Ç–∞—Ñ—Ä–µ–π–º** *ratings*

In [ ]:
query = '''
SELECT *
FROM ratings
LIMIT 5
'''
display(pd.io.sql.read_sql(query, con = engine))
pd.io.sql.read_sql(query, con = engine).info()
pd.io.sql.read_sql(query, con = engine).duplicated().sum()

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  5 non-null      int64
 1   book_id    5 non-null      int64
 2   username   5 non-null      object
 3   rating     5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes

0

**–¥–∞—Ç–∞—Ñ—Ä–µ–π–º** *publishers*

In [ ]:
query = '''
SELECT *
FROM publishers
LIMIT 5
'''
display(pd.io.sql.read_sql(query, con = engine))
pd.io.sql.read_sql(query, con = engine).info()
pd.io.sql.read_sql(query, con = engine).duplicated().sum()

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  5 non-null      int64
 1   publisher     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

0

**–í—ã–≤–æ–¥:**
    
–ü–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã, –¥–∞–Ω–Ω—ã–µ –≤ –ø–æ—Ä—è–¥–∫–µ, –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ—Ç.

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–û—Ç–ª–∏—á–Ω–æ –ø–µ—Ä–≤—ã–π –≤–∑–≥–ª—è–¥ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –µ—Å—Ç—å. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª–∞ –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∞ –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ
</div>

# –ó–∞–¥–∞—á–∞ 1

***–°–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞?***

In [ ]:
query = '''
SELECT
    COUNT(DISTINCT book_id) AS book_cnt
FROM
    books
WHERE
    publication_date > '2000-01-01'
'''
pd.io.sql.read_sql(query, con = engine)

   book_cnt
0       819

**–û—Ç–≤–µ—Ç:**    –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–†–∞—Å—á—ë—Ç –≤–µ—Ä–Ω—ã–π
</div>

# –ó–∞–¥–∞—á–∞ 2

***–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É***

In [ ]:
query = '''
SELECT
    books.book_id AS id,
    books.title AS name,
    COUNT(DISTINCT reviews.text) AS cnt_reviews,
    ROUND(AVG(ratings.rating), 2) AS avg_rating
FROM
    books
LEFT JOIN ratings ON ratings.book_id = books.book_id
LEFT JOIN reviews ON reviews.book_id = books.book_id
GROUP BY
    name,
    id
ORDER BY
    cnt_reviews DESC

'''
pd.io.sql.read_sql(query, con = engine)

,id,name,cnt_reviews,avg_rating
0,948,Twilight (Twilight #1),7,3.66
1,963,Water for Elephants,6,3.98
2,734,The Glass Castle,6,4.21
3,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.41
4,695,The Curious Incident of the Dog in the Night-Time,6,4.08
...,...,...,...,...
995,83,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.67
996,808,The Natural Way to Draw,0,3.00
997,672,The Cat in the Hat and Other Dr. Seuss Favorites,0,5.00
998,221,Essential Tales and Poems,0,4.00
999,191,Disney's Beauty and the Beast (A Little Golden...,0,4.00

*–°–æ–∑–¥–∞–ª–∏ —Ç–∞–±–ª–∏—Ü—É, –ø–æ—Å—á–∏—Ç–∞–≤ –∫–Ω–∏–≥–∏ —Å–æ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–º–∏ –æ–±–∑–æ—Ä–∞–º–∏;*

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ì—Ä–∞–º–æ—Ç–Ω—ã–π —à–∞–≥, —á—Ç–æ –¥–æ–±–∞–≤–∏–ª–∞ –∫–æ–ª–æ–Ω–∫—É —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∫–Ω–∏–≥
</div>

# –ó–∞–¥–∞—á–∞ 3

***–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –º—ã –∏—Å–∫–ª—é—á–∏–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã***

In [ ]:
query = '''
SELECT publishers.publisher, COUNT(books.book_id) AS cnt_books
FROM books
LEFT JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE books.book_id IN
    (SELECT books.book_id
     FROM books
     GROUP BY books.book_id
     HAVING books.num_pages > 50)
GROUP BY publishers.publisher
ORDER BY COUNT(books.book_id) DESC
LIMIT 1;

'''
pd.io.sql.read_sql(query, con = engine)

       publisher  cnt_books
0  Penguin Books         42

**–û—Ç–≤–µ—Ç:** –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ - 42

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º
</div>

# –ó–∞–¥–∞—á–∞ 4

***–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏***

In [ ]:
query = '''
SELECT
    authors.author,
    AVG(ratings.rating) AS avg_rating
FROM
    books
LEFT JOIN ratings on books.book_id = ratings.book_id
LEFT JOIN authors on books.author_id = authors.author_id
WHERE
    books.book_id IN (
        SELECT ratings.book_id
        FROM ratings
        GROUP BY ratings.book_id
        HAVING COUNT(ratings.rating) > 50)
GROUP BY authors.author
ORDER BY avg_rating DESC
LIMIT 1;
'''
pd.io.sql.read_sql(query, con = engine)

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©    4.287097

**–û—Ç–≤–µ—Ç:** –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ - J.K. Rowling/Mary GrandPr√©, —Ä–µ–π—Ç–∏–Ω–≥ - 4,287097

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__
    
–ü–æ—Å–ª–µ —Å—Ç–æ–ª—å–∫–∏—Ö –ª–µ—Ç? –í—Å–µ–≥–¥–∞...

![image.png](attachment:image.png)

# –ó–∞–¥–∞—á–∞ 5

***–ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫***

In [ ]:
query = '''
SELECT AVG(r.count) AS avg_review
FROM
    (SELECT count(*)
     FROM reviews
     WHERE username IN
         (SELECT username
          FROM ratings
          GROUP BY username
          HAVING count(rating) > 48)
    GROUP BY username) AS r;

'''
pd.io.sql.read_sql(query, con = engine)

   avg_review
0        24.0

**–û—Ç–≤–µ—Ç:** C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫, —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 24

# –í—ã–≤–æ–¥:

1. –ü–æ—Å–º–æ—Ç—Ä–µ–ª–∏, —á—Ç–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ **819 –∫–Ω–∏–≥**;

2. –°–æ–∑–¥–∞–ª–∏ —Ç–∞–±–ª–∏—Ü—É, –ø–æ—Å—á–∏—Ç–∞–≤ –∫–Ω–∏–≥–∏ —Å–æ **—Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π** –∏ **–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–º–∏ –æ–±–∑–æ—Ä–∞–º–∏**;

3. –°–æ–∑–¥–∞–ª–∏ —Ç–∞–±–ª–∏—Ü—É, –≤ –∫–æ—Ç–æ—Ä–æ–π –ª–µ–∂–∏—Ç —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤, –∫–æ—Ç–æ—Ä—ã–µ **–≤—ã–ø—É—Å–∫–∞—é—Ç –∫–Ω–∏–≥–∏ –æ—Ç 50 —Å—Ç—Ä–∞–Ω–∏—Ü** –∏ –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —Ç–∞–∫–∏—Ö –∫–Ω–∏–≥. –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ **Penguin Books** –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ - ***42***;

4. –°–æ–∑–¥–∞–ª–∏ —Ç–∞–±–ª–∏—Ü—É, —Å–æ **—Å–ø–∏—Å–∫–æ–º –∞–≤—Ç–æ—Ä–æ–≤ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π**, —É—á–∏—Ç—ã–≤–∞–ª–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–º–µ—é—Ç –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.
–ê–≤—Ç–æ—Ä —Å **—Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥** - ***J.K. Rowling/Mary GrandPr√©***, —Ä–µ–π—Ç–∏–Ω–≥ - ***4,287097***;

5. –û–ø—Ä–µ–¥–µ–ª–∏–ª–∏ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –Ω–∞ –∫–Ω–∏–≥–∏ –±–æ–ª–µ–µ, —á–µ–º —Å 50 –æ—Ü–µ–Ω–∫–∞–º–∏ - —ç—Ç–æ –≤ —Å—Ä–µ–¥–Ω–µ–º **24 –æ–±–∑–æ—Ä–∞** –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ü–æ–ª—É—á–∏–ª–∞—Å—å —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, —Ä–∞–∑–≤–µ—Ä–Ω—É—Ç—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø—Ä–∏–¥–∞–µ—Ç –µ–π –≤–∏–¥ –∑–∞–∫–æ–Ω—á–µ–Ω–Ω–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å–ø—Ä–∞–≤–∏—Ç—å—Å—è —Å–æ –≤—Å–µ–º–∏ –∑–∞–¥–∞—á–∞–º–∏.
</div>